.loginBody {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.shadow {
  -moz-box-shadow: 3px 3px 4px #444;
  -webkit-box-shadow: 3px 3px 4px #444;
  box-shadow: 3px 3px 4px #444;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

.backgroundImage {
  background-image: url("/img/bank.png");
  background-repeat: no-repeat;
  background-position: 100px bottom;
  background-size: 600px;
}


table, tr {border:hidden;}
td, th {border:hidden;}

.innerTable {
  position: relative; 
  left: 50%;
  transform: translateX(-50%); 
  border-collapse: collapse; 
  border: none;
}